html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato/Lato-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato-Medium';
    src: url(../fonts/Lato/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato-light';
    src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
}

:root {
    --clr-black: #000000;
    --light-black: #102746;
    --clr-white: #fff;
    --clr-skyblue: #1b7dff;
    --bg-clr-skyblue: #1b7dff;

}

/* header section */

header {
    position: absolute;
    top: 56px;
    width: 100%;
    transition: all .3s ease;
    z-index: 10;
    overflow: auto;
}

.header_wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.travel_logo {
    height: 32px;
    line-height: 10px;
    float: left;
}

.menu_box {
    float: right;
}

.menu_box .menu__list_item {
    display: inline;
    position: relative;
    line-height: 30px;
    margin: 8px 64px auto auto;
}

.menu__list_item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 24px;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
    border: 1px solid var(--clr-skyblue);
}

.menu__list_item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu_box .menu__list_item:hover a {
    color: var(--clr-skyblue);
}

.menu_box li a {
    font-family: Lato-Regular;
    color: var(--clr-white);
    font-size: 18px;
}

.btn_primary {
    padding: 20px;
    font-family: Lato-Regular;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--clr-white);
    background-color: var(--bg-clr-skyblue);
}


/* Hero Section */
.hero {
    position: relative;
    height: 962px;

}

hero::after {
    clear: both;
    content: "";
    display: table;
}

.hero_bg {
    background-image: url('../images/hero.jpg');
    object-fit: contain;
    background-size: cover;
}

.container {
    max-width: 980px;
    margin: auto;
    padding: 20px;
    color: var(--clr-white);
}

.container .content_container {
    padding-top: 284px;
}

.hero_content article h1 {
    font-family: Lato-light;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 22px;
    /* max-width: 80%; */
}

.hero_content article p {
    font-family: Lato-Regular;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-bottom: 54px;
    max-width: 600px;
}

.search_container .select_box {
    margin-right: 30px;
    display: inline-block;
}

.radio_circle {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px 23px auto auto;
    border: 3px solid var(--clr-white);
    background-color: transparent;
}

.select_box input[type=radio] {
    float: left;
    width: 20px;
    height: 20px;
    accent-color: #232323;
    margin: 4px 23px auto auto;
    border: 2px solid var(--clr-white);
}


.select_box input[type=text] {
    background-color: transparent;
    border: none;
    float: left;
    /* clear: none;
    display: block; */
    font-family: Lato-light;
    font-size: 18px;
    color: var(--clr-white);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    width: 220px;
}

.select_box::after {
    content: "";
    clear: both;
    display: block;
    position: relative;
    width: 300px;
    border: 0.5px solid var(--clr-white);
    margin-top: 40px;
}

.select_box input[type=text]:focus {
    border: none;
    outline: none;
}

.select_box input[type=text]::placeholder {
    color: var(--clr-white);
}

.select_box label {
    float: left;
    clear: none;
    display: block;
    font-family: Lato-light;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
}

.search_container .btn_primary {
    vertical-align: top;
    padding: 12px 40px;
    font-size: 22px;
}

.main_container {
    max-width: 980px;
    margin: auto;
    text-align: center;
    /* background-color: #1b7dff; */
}

.hero_content .main_container {
    margin-top: 284px;
    margin-left: 135px;
    max-width: 980px;
    /* margin: auto; */
    background: #000;
    text-align: left;
}

/* Benefit Section */
.benefits_wrapper {
    width: 100%;
    padding: 94px 48px 112px 100px;
    position: relative;
    margin: -160px auto auto auto;
    box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
    background-color: var(--clr-white);

}

.benefits_wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.benfit_card_container {
    overflow: hidden;
}

.heading_text_medium {
    font-family: Lato-Light;
    margin-bottom: 120px;
    font-size: 35px;
    font-weight: 500;
    color: var(--light-black);
    text-align: left;
}

.heading_text_medium::after {
    display: block;
    position: relative;
    margin-top: 16px;
    content: "";
    width: 254px;
    border: 1px solid var(--clr-skyblue);
}

.visit_container .heading_text_medium {
    margin-bottom: 54px;
}

.benefit_box {
    text-align: left;
    float: left;
    width: calc((100% / 3) - 6px);
    /* padding-right: 50px; */
    /* display: inline-block; */
}

.benefit_box .bft_img {
    height: 66px;
    width: auto;
    margin-bottom: 38px;
}

.benefit_box .benefit__title {
    margin-bottom: 26px;
    font-family: Lato-light;
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-black);
}

.benefit_box .desc_text {
    margin-bottom: 40px;
}

.desc_text {
    font-family: Lato-light;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: var(--clr-black);
}

.primary_link {
    font-size: 16px;
    position: relative;
    color: var(--clr-skyblue);
    font-family: Lato-Regular;
    text-transform: uppercase;
    transition: all 0.6s;
}

.primary_link::after {
    content: '\0279E';
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 120px;
    transition: 1s;
}

.trip_column::after {
    left: 140px;
}

.trip_column .primary_link:hover:after {
    left: 160px;
}

.primary_link:hover:after {
    opacity: 1;
    left: 140px;
    color: var(--clr-skyblue)
}

.primary_link:hover {
    color: var(--light-black);
}

/* trip section */
.trip_blog_container {
    margin-top: 132px;
}

.trip_blog_container::after {
    clear: both;
    content: "";
    display: table;
}

.trip_header_section {
    overflow: auto;
    line-height: 46px;
    margin-bottom: 30px;
}



.trip_header_section::after {
    clear: both;
    content: "";
    display: table;
}

.trip_header_section .heading_text_medium {
    float: left;
    margin-bottom: 0px;
}

.trip_header_section .primary_link {
    float: right;
    width: 180px;
}

.trip_header_section .primary_link i {
    margin-right: 0px;
}

.blog_box {
    width: 100%;
    margin: auto;
}

.two_clm_box {
    float: left;
    margin-bottom: 10px;
}

.three_clm_box {
    float: left;
}

.row_box {
    float: left;
    width: calc((100% / 2) - 6px);
    position: relative;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.row_box img {
    transition: all 1s ease;
}

.row_box:hover img {
    transition: all 1.5s ease-in-out;
    transform: scale(1.2);
}


.th_row_box {
    float: left;
    width: calc((100% / 3) - 7px);
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.th_row_box img {
    transition: all 1s ease;
}

.th_row_box:hover img {
    transition: all 1.5s ease-in-out;
    transform: scale(1.2);
}

.mg_right_10 {
    margin-right: 10px;
}

.trip_bold_text {
    position: absolute;
    bottom: 34px;
    left: 20px;
    z-index: 5;
    font-family: Lato-Light;
    font-size: 50px;
    font-weight: bold;
    color: var(--clr-white);
}

.row_box img {
    width: 100%;
}

.th_row_box img {
    width: 100%;
}

.row_box::after {
    background-color: rgba(21, 24, 36, 0.4);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.th_row_box::after {
    background-color: rgba(21, 24, 36, 0.4);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}




/* trip_blog_section */
.trip_place_section {
    margin-top: 132px;
}

.trip_row {
    width: 100%;
}

.trip_column {
    text-align: left;
    float: left;
    width: 50%;
}

.trip_row::after {
    clear: both;
    display: table;
    content: '';
}

.trip_text_heading {
    font-family: Lato-Light;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 45px;
    line-height: 1.33;
}



.trip_column img {
    height: 354px;
    width: 100%;
}

.margin--top_left {
    margin: 28px auto auto 100px;
}

.margin--top_right {
    margin: 28px 100px auto auto;
}

.trip_place_content .desc_text {
    margin-bottom: 64px;
}

.trip_row:first-child {
    margin-bottom: 78px;
}



/* visit section */
.visit_container {
    margin: 140px auto;
    position: relative;
}

.visit_wrapper {
    float: left;
    overflow: auto;
    width: 100%;
}

.visit_container::after {
    clear: both;
    content: "";
    display: table;
}

.mg_right_30 {
    margin-right: 30px;
}

.visit_box {
    width: calc((100% / 3) - 20px);
    float: left;
    text-align: left;
    margin-bottom: 58px;
    padding-left: 3px;
}

.place_box:hover .fav_box {
    background-color: rgb(131 137 158 / 60%);
}

.place_box img {
    position: relative;
    width: 100%;
    line-height: 0;
}

.visit_box .btn_primary {
    display: inline-block;
    padding: 14px 30px;
}

.btn_primary:hover {
    color: var(--clr-skyblue);
    outline: 1px solid var(--clr-skyblue);
    background-color: transparent;
}

.visit_box .desc_text {
    text-align: left;
    margin-bottom: 32px;
}

.place_box {
    position: relative;
    margin-bottom: 40px;
}

.fav_box {
    background-color: rgba(21, 24, 36, 0.6);
    padding: 16px;
    overflow: auto;
    color: var(--clr-white);
    position: absolute;
    bottom: 2px;
    z-index: 5;
    width: 100%;
    line-height: 26px;

}

.fav_box .fav_title {
    float: left;
    font-family: Lato-Regular;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
}

.fav_box .fav_review_box {
    float: right;
}

.review_set {
    margin-right: 14px;
}

.review_set i {
    margin-right: 4px;
}

.review_set span {
    font-family: Lato-Regular;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
}

/* video_section */

.video_container {
    height: 100vh;
    max-height: 650px;
    position: relative;
}

.video_container figure img {
    width: 100%;
    height: 100vh;
    max-height: 650px;
    object-fit: cover;
}

.video_container figure::before {
    background-color: rgba(21, 24, 36, 0.4);
    content: "";
    height: 100vh;
    max-height: 650px;
    position: absolute;
    width: 100%;
    opacity: .7;
}

.video_container i {
    font-size: 60px;
    color: var(--clr-white);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: relative;
    background-color: var(--light-black);
}

footer::after {
    clear: both;
    content: "";
    display: table;
}

.footer_section {
    color: var(--clr-white);
    overflow: auto;
}

.footer_content {
    margin: 124px auto;
    overflow: auto;
}

.odigo_logo {
    float: left;
}

.odigo_logo img {
    width: 150px;
}

.foo_menu_list li:first-child {
    font-family: Lato-Regular;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.foo_menu_list li {
    margin-bottom: 6px;
    font-family: Lato-Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
}

.foo_menu_section {
    display: inline;
    float: right;
    width: 60%;
}

.foo_menu_list {
    width: calc((100% / 3) - 4px);
    display: inline-block;
}

.footer_section::after {
    clear: both;
    display: table;
    content: "";
}

.footer_section .container article {
    padding: 124px auto;
    overflow: auto;
}

.burger_icon {
    display: none;
}

@media(max-width:1200px) {

    .search_container .select_box {
        margin-right: 14px;
    }

    .select_box::after {
        width: 100%;
    }

    .radio_circle {
        margin-right: 12px;
    }

    .select_box input[type=text] {
        font-size: 14px;
    }

    .container .content_container {
        padding: 284px auto 70px 70px;
    }
}

@media(max-width:780px) {
    .burger_icon {
        display: block;
        position: absolute;
        right: 35px;
        top: 30px;
        color: var(--clr-white);
    }
    .container {
        padding: 20px;
    }

    header {
        top: 40px;
    }

    .menu_box {
        display: none;
    }

    .menu_box.active {
        display: block;
        width: 100%;
        background-color: black;
    }

    .menu_box.active .menu__list_item {
        display: block;
        padding: 10px 10px;
        margin: 0px;
        text-align: center;
    }

    .search_container {
        text-align: center;
    }

    .container .content_container {
        padding: 200px 8px 70px 8px;
    }

    .search_container .btn_primary {
        line-height: 65px;
    }

    .search_container .select_box {
        width: 80%;
    }

    .select_box input[type=text] {
        width: 80%;
    }

    .benefits_wrapper {
        padding: 64px 24px 20px 30px;
    }

    .trip_blog_container {
        padding: 20px;
    }

    .benefit_box {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .hero_content article h1 {
        font-size: 40px;
    }

    .heading_text_medium::after {
        text-align: center;
        margin: 16px auto;
    }

    .heading_text_medium {
        text-align: center;
        margin-bottom: 24px;
    }



    .margin--top_left {
        margin: 20px;
    }

    .margin--top_right {
        margin: 20px;
    }

    .trip_column img {
        height: 100%;
    }

    .row_box img {
        min-height: 200px;
    }

    .trip_text_heading {
        font-size: 2rem;
    }

    .trip_row:first-child {
        margin-bottom: 24px;
    }

    .trip_bold_text {
        font-size: 30px;
    }

    .visit_container {
        margin: 75px auto;
        padding: 20px;
    }

    .benefit_box .benefit__title {
        font-size: 14px;
    }

    .desc_text {
        font-size: 12px;
    }

    .primary_link {
        font-size: 14px;
    }



    .trip_header_section .primary_link {
        width: 100%;
    }

    .trip_header_section .heading_text_medium {
        float: none;
    }

    .trip_place_section {
        margin-top: 45px;
    }

    .trip_column {
        width: 100%;
    }

    .trip_place_content .desc_text {
        margin-bottom: 30px;
    }

    .visit_box {
        padding-right: 20px;
        width: calc(100% / 2);
    }

    .mg_right_30 {
        margin-right: 0px;
    }

    .foo_menu_section {
        width: 100%;
    }

    .odigo_logo {
        float: none;
        text-align: center;
    }

    .foo_menu_list {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .hero_content article h1 br {
        display: none;
     }

}

@media(max-width:480px) {
    .search_container .select_box {
        width: 100%;
        margin: 10px auto;
    }

    .hero_content article h1 {
        font-size: 38px;
    }
    

    .hero_content article p {
        font-size: 14px;
    }

    .heading_text_medium {
        float: none;
        font-size: 20px;
    }

    .trip_blog_container {
        margin-top: 45px;
    }

    .trip_header_section .heading_text_medium {
        float: none;
    }

    .row_box {
        width: 100%;
        margin-bottom: 10px;
    }

    .th_row_box {
        width: 100%;
        margin-bottom: 10px;
    }

    .mg_right_10 {
        margin: 0px;
    }

    .visit_box {
        width: 100%;
    }

    .btn_primary {
        font-size: 12px;
    }

    .visit_container {
        margin: 10px auto;
    }

    .visit_box {
        padding: 0px;
    }

    .two_clm_box {
        margin-bottom: 0px;
    }

    .row_box {
        width: 100%;
        margin-bottom: 10px;

    }

    .th_row_box {
        width: 100%;
        margin-bottom: 10px;
    }

}